*.DS_Store

The C Programming Language/a.out
The C Programming Language/test.c

Actual Causality/*.aux
Actual Causality/*.log
Actual Causality/*.synctex.gz

Causal Inference/*.aux
Causal Inference/*.log
Causal Inference/*.synctex.gz

Data Structure/code/*.o
Data Structure/code/*.exe